.header {
    background: var(--background);
    border-bottom: 1px solid var(--border);
    
    position: fixed;
    top: 0;
    width: 100%;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 57px;

    max-width: 957px;
    margin: 0 auto;
    width: 90%;
}

.header .container .logo {
    width: 110px;
    cursor: pointer;
    justify-content: center;
    margin-top: 10px;
    
    
}

.input-fake {
    background: var(--background-main);
    border-radius: 6px;
    margin-left: 145px;
    padding: 3px 10px;
    height: 35px;
    width: 270px;
    border: 1px solid var(--border);
    background: #ececec;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.input-fake input {
    font-size: 14px;
    padding: 0 7px;
}

.menu-icons {
    display: flex;
    gap: 20px;
    cursor: pointer;
    justify-content: center;
    margin-bottom: -8px;

}

.menu-icons .img-user{
    width: 26px;
    height: 26px;
    border-radius: 100%;    
}
